/* Configuración General */
body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    scroll-behavior: smooth; /* Para que el salto entre secciones sea suave */
}

h1, h2, h3, .navbar-brand {
    font-family: 'Montserrat', sans-serif;
}

/* Hero Section */
.hero-section {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%);
    object-fit: cover;
    pointer-events: none; /* El video no interfiere con los clicks */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Oscurece el video */
    z-index: 1;
}

.btn-reserve-hero {
    background-color: #e67e22;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn-reserve-hero:hover {
    background-color: #d35400;
    color: white;
    transform: translateY(-3px);
}

/* Estilo de la Navbar */
.nav-link {
    font-weight: 600;
    color: #2c3e50 !important;
}

.nav-link:hover {
    color: #e67e22 !important;
}

/* Formulario y Tarjetas */
.card {
    border-radius: 15px;
}

.rounded-4 { border-radius: 1.5rem !important; }
.rounded-5 { border-radius: 2.5rem !important; }

.shadow-sm { 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.shadow-sm:hover { 
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}

.form-control, .form-select {
    border-radius: 10px;
    padding: 12px;
    border: 1px solid #ddd;
}

/* Botón WhatsApp */
.btn-whatsapp {
    background-color: #25d366;
    color: white;
    border-radius: 10px;
    transition: 0.3s;
    border: none;
}

.btn-whatsapp:hover {
    background-color: #128c7e;
    color: white;
    box-shadow: 0 5px 15px rgba(37, 211, 102, 0.4);
    transform: scale(1.02);
}

/* Utilidades de Texto */
.text-warning { color: #e67e22 !important; } /* Naranja Topinambur */

/* Ajustes para móviles */
@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 2.5rem;
    }
    .card-body {
        padding: 2rem !important;
    }
}

.carousel {
    border-radius: 2.5rem !important; /* Coincide con tu rounded-5 */
}

.carousel-item img {
    height: 400px; /* Altura fija para que todas las fotos se vean iguales */
    object-fit: cover; /* Recorta la imagen para que llene el espacio sin estirarse */
}